:root {
    --offset: -45px;
    --plotting-area-width: calc(100% - 5rem);
    --plotting-area-height: 480px;
}

.center {
    text-align: center;
}

.drop-area,
.file,
.reset-button,
.run-button {
    position: relative;
    margin: 1rem auto;
    display: flex;
    background-color: #2f3236;
}

.drop-area,
.file {
    border-radius: 13px;
}

.drop-area {
    width: 479px;
}

.drop-area {
    border: 3px dashed #a5a5a5;
}

.drop-area i {
    font-size: 3rem;
    padding: 1rem 0 0.5rem 0;
}

.drop-area-valid-file,
.drop-area-valid-file i {
    border-color: #29aa29;
    background-color: #002900;
    color: #29aa29;
}

.drop-area-invalid-file-s,
.drop-area-invalid-file-s i,
.error {
    border-color: #aa2929;
    background-color: #290000;
    color: #aa2929;
}

.drop-area-div,
.drop-area-input {
    width: 100%;
    height: 100%;
}

.drop-area-div,
.reset-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drop-area-input {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
}

.file {
    top: var(--offset);
    display: flex;
    flex-direction: column;
}

.error {
    border: 1px dashed #aa2929;
}

.file,
.page,
.reset-button {
    display: none;
}

.info {
    border: 1px dashed #a5a5a5;
}

.last {
    margin-bottom: -2.5rem;
}

.reset-button {
    top: var(--offset);
    left: 269px;
    --bs-btn-padding-y: 0.25rem;
    --bs-btn-font-size: 0.75rem;
}

.run-button {
    left: calc(50% - 2rem);
    --bs-btn-padding-y: 0.25rem;
    --bs-btn-font-size: 0.75rem;
}

.simulation {
    height: calc(var(--plotting-area-height) + 1.75rem);
}

li {
    margin-left: 0.5rem;
}

p.info,
p.error {
    margin: 1rem;
    border: none;
}

p.issues {
    margin-bottom: 0;
}

p.note {
    margin-top: 1rem;
}

span.bold {
    font-weight: bold;
}

#plottingArea {
    top: var(--offset);
    margin: 1rem auto 1rem 1rem;
    width: var(--plotting-area-width);
    height: var(--plotting-area-height);
}
